VT1/src/com/github/markmatyushchenko/vt1/resources/xsd/clients.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="xmlClient">
        <xs:sequence>
            <xs:element type="xs:string" name="login"/>
            <xs:element type="xs:string" name="token"/>
            <xs:element type="xs:string" name="firstName"/>
            <xs:element type="xs:string" name="lastName"/>
            <xs:element type="xs:string" name="email"/>
            <xs:element type="xs:string" name="phoneNumber"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="data">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="item" maxOccurs="unbounded" minOccurs="0" type="xmlClient">
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
